.weather-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 30px 0;
}

.weather-temperature {
  color: var(--primary-text-color);
  font-size: 2.5rem;
  font-weight: 600;
}

.weather-condition {
  color: var(--primary-text-color);
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}

@media screen and (min-width: 500px) {
  .weather-temperature {
    font-size: 3rem;
  }

  .weather-condition {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .weather-temperature {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .weather-temperature {
    font-size: 4rem;
  }

  .weather-condition {
    font-size: 1.5rem;
  }
}
