@import url("search-box.css");
@import url("current-weather.css");
@import url("weather-forecast.css");
@import url("empty-result.css");

/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-font-family: "Poppins", sans-serif;
  --primary-background-color: #06283d;
  --secondary-background-color: #ffffff;
  --primary-text-color: #06283d;
  --button-text-color: #06283d;
  --button-background-color: #dff6ff;
  --button-text-color-hover: #ffffff;
  --button-background-color-hover: #06283d;
  --icon-color: #06283d;
}

html {
  font-family: var(--primary-font-family);
  font-size: 16px;
  color: var(--primary-text-color);
}

/* General Container */
.general-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-background-color);
  min-height: 100vh;
}

/* Card Container */
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-background-color);
  width: 40%;
  height: 600px;
  border-radius: 20px;
  padding: 28px 32px;
}
