.search-box form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search-box i {
  color: var(--icon-color);
  font-size: 1.5rem;
}

.search-box input {
  color: var(--primary-text-color);
  width: 70%;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  padding-left: 5px;
  text-transform: uppercase;
  outline: none;
}

.search-box input::placeholder {
  text-transform: capitalize;
}

.search-box button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  border-radius: 50%;
  border: none;
  font-size: 1.2rem;
  transition: 0.3s ease;
}

.search-box button:hover {
  color: var(--button-text-color-hover);
  background-color: var(--button-background-color-hover);
}

@media screen and (min-width: 1024px) {
  .search-box i {
    font-size: 2rem;
  }

  .search-box input {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .search-box button {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
  }
}
