.weather-forecast {
  border: 3px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* make between if putting H & L side by side */
  width: 100%;
}

.forecast-item {
  border: 3px solid pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
  width: 25%;
}
